@charset "utf-8";
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@import url("../../../Resources/webfonts/font-BMDOHYEON-wallel.css");
body {
	background-size : 1px 100%;
	background : #8f80ed;
	background-image : linear-gradient(to top, #5b50b9 0%, transparent 50%);
}

.poster{
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	margin-bottom: 200px;
	position :relative;
	width : 44.5rem;
	height : 62.38rem;
	background : #fff;
	font-family: "BMD", sans-serif; 
	font-weight: 400; 
	line-height: 200%; 
	color: #000;
	-webkit-box-shadow: -11px 6px 68px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -11px 6px 68px 0px rgba(0,0,0,0.75);
box-shadow: -11px 6px 68px 0px rgba(0,0,0,0.75);

}

.text-grid {
	padding : 50px;
	margin-right: auto;
	margin-left: auto;
	width : 600px;
	line-height: 1.5;
	font-size: 170px;
	text-align :center;
}

.ryu{
	position :absolute;
	top : 50%;
	left : 50%;
	transform: translate(-53%,2%);
}

.right-clip {
	position :absolute;
	top : 0%;
	left : 10%;
	transform :translateY(-50%);
}

.left-clip{
	position :absolute;
	top : 0%;
	right : 10%;
	transform : translateY(-50%);
}

.right-line {
	position : absolute;
	top : 0%;
	right : 13%;
	transform : translateY(-120%);
}

.left-line{
	position : absolute;
	top : 0%;
	left:13%;
	transform : translateY(-120%);
}