@charset "utf-8";

/*스타일 모듈 파일 로드*/
@import url("color.css");
@import url("common.css");
@import url("grid.css");
@import url("layout.css");
@import url("old-ie.css");
@import url("print.css");
/*page.css
	header.css
	nav.css
	main.css
	aside.css
	footer.css*/

/**/
body {
	margin: 0;  
	font-weight: 400;
}

article {
	/*선택된 대상을 스타일링*/
	/*속성 : 값;*/
	/*테두리 디자인*/
	border : 1px solid #454545; 
}

article h2{
	font-weight :100;
}
/*img요소는 inline-block요소.
inline-block 요소는 margin-top같은 값이 적용된다.
*/
article img {
	margin-top: 100px;
	margin-bottom : 100px;
}
article p{
	line-height :30px;
	font-weight :100;
}