@charset "utf-8";
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@import url("../Resources/webfonts/font-BMDOHYEON-wallel.css");


.grid-container{
	margin-right: auto;
	margin-left: auto;
	margin-top:0;
}

.wrapper{
	font-family: "BMD", sans-serif;
	text-align : center;
	width : 360px;
	height : 644px;
	margin-top: 3rem;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : 5rem;
	box-shadow: 10px 28px 89px 0px rgba(0,0,0,0.75);
	border-radius : 1rem;
}

button {
	border-radius : 15px;
	width :35px;
	height :35px;
}

button.add-photo-button{
	position : absolute;
	right : 5%;
	top :50%;
	transform: translateY(-50%);
	background-size: 20%;
	background : url(../images/plus.png);
}

.title {
	border-top-left-radius: 1rem;
	border-top-right-radius : 1rem;
	font-size : 1.5rem;
	line-height: 4rem;
	width : 100%;
	height : 4rem;
	background : black;
	color : #fff;
}

.section-player{
	width :100%;
	height:400px;
	background-color:white;
}

[class^="player"]{
	float: left;
	width : 50%;
	height : 100%;
	background-color:lightgray;
}

.profile-image{
	height : 2.5rem;
	border-radius : 0.5rem;
	margin-top : 3px;
}
.profile-name {
	margin-top : 3px;
}

[class*="name-"]{
	position :relative;
	width:100%;
	height : 64px;
	font-size : 0.5rem;
	line-height: 1;
	background-color: #fff;
}

[class*="name-"]:after{
	content : "";
	position :absolute;
	right : 5%;
}

.prize{
	width :100%;
	height :5rem;
	background-color: #fff;
	line-height: 5rem;

}

[class^="day"]{
	position : relative;
	float:left;
	width : 100%;
	height : 3rem;
	line-height: 3;
	box-sizing: border-box;
	border-bottom : 1px solid black;
	background : #fff;
}


[class^="day"]::after {
	content : "DATE";
	position :absolute;
	left : 50%;
	transform : translateX(-50%);
}

[class*="day1-"]{
	border-top : 1px solid black;
}


[class*="day1-"]::before {
	font-weight : normal;
	content:'[요일]';
	left : 5%;
	position :absolute;
}



[class$="one"]{
	border-right : 1px solid black;
}

.prize-image {
	line-height: 11.25rem;
	margin-top : 20px;
	height : 8rem;
}