#logo {
	height : 100px;
}

nav {
	background-color : #f0f0f0;
	height : 150px;

}

a {
	padding :20px;
}


.hear, .navigation, .description, .contents,.main-image{
	width :100%;
}

@media screen and (min-width: 1200px) {
	.header, .navigation, .description, .contents{
		width :1200px;
		margin-left: auto;
		margin-right:auto;
	}
}	