
@charset "utf-8";

a{
	text-decoration: none;
	padding-bottom : 0.125rem;
	border-bottom : 0.0625rem solid; 
}
/*
배경 색상 페이드(Fade in/out)
.fade-bg
*/

.fade-bg{
	display : inline-block;
	padding : 0.125em;
	transition : all 0.25s;
	border-bottom : none;
}

.fade-bg.round{
	border-radius: 0.1875rem;
}
.fade-bg:hover,
.fade-bg:focus{
	background : #65b1e3;
	color : #fff;
}
/*
전방위 슬라이드
.slide-from-left
.slide-from-right
.slide-from-top
.slide-from-bottom
*/

a[class*="slide-"]{
	overflow:hidden;
	display : inline-block;
	position : relative;
	padding : 0.06em 0.12em;
	border-bottom : none;
	vertical-align: bottom;
}

a[class*="slide-"]::after{
	content : attr(data-linktext);
	position :absolute;
	width : 100%;
	background : #1f74bf;
	color : #fff;
	transition : all 0.45s;
	text-align : center;
}

a.slide-from-left::after{
	left : -100%;
}
a.slide-from-left:hover::after,
 a.slide-from-left:focus::after{
	left : 0;
}

a.slide-from-right::after {
	right : -100%;
}
a.slide-from-right:hover::after,a.slide-from-right:focus::after{
	right : 0;
}

a.slide-from-top::after {
	display : block;
	top : -100%;
}
a.slide-from-top:hover::after,a.slide-from-top:focus::after{
	top : 0;
}

a.slide-from-bottom::after {
	display:block;
	bottom : -100%;
}
a.slide-from-bottom:hover::after,a.slide-from-bottom:focus::after{
	bottom : 0;
}

/*
.fade-underline
*/

.fade-underline{
	border-bottom : 2px solid transparent;
	/*장면전환  A -> B, B -> A*/
	transition: all .25s ease;
	/*transition : 속성, 지속시간. 0.25s linear 0.25s ->  선형으로..
	propety(ex. color,background,font-size,..,all) duration(ex. 100ms, 0.2s) timing-function*/


	/*별도의 사용자 인터액션 없이 처음부터 움직임을 제어하려면 animation
	keyframe 기반으로 애니메이션 제어를 하려면 animation
	언제 애니메이션을 사용해야 하나?*/
}

.fade-underline:hover, .fade-underline:focus {
	border-bottom-color: currentColor;
}

/*
underline-slide
.underline-from-left
.underline-from-right
.underline-from-center
*/
a[class*="underline-"]{
	position: relative;
	border-bottom: none;
}
a[class*="underline-"]::before{
	content : '';
	position : absolute;
	top :100%;
	transition : all 0.25s;
	border-bottom : 1px solid currentColor;
}
a.underline-from-left::before{
	left  : 0;
	right : 100%;
}

a.underline-from-left:hover::before,a.underline-from-left:focus::before{
	left : 0;
	right : 0%;
}

a.underline-from-right::before{
	right : 0;
	left : 100%;
}
a.underline-from-right:hover::before,a.underline-from-right:focus::before{
	right : 0;
	left : 0;
}


a.underline-from-center::before{
	right : 50%;
	left : 50%;
}
a.underline-from-center:hover::before,a.underline-from-center:focus::before{
	right : 0;
	left : 0;
}

}